*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* body{
    background: url(images/background_full_mock2.png);
    background-size: 100% 100%;
    background-attachment: fixed;
} */

.mug{
    text-align: center;
    margin: 0, auto;
    padding-bottom: 0px;
    position: absolute;
    left: 44.5%
}

#home-icon{
    width: 200px;
    height: 200px;
}

.header{
    background: url(images/background-template/top.png);
    background-size: 100% 100%;
    display: flex;
    justify-content: space-between;
    margin: 0px;
    margin-bottom: 0px;
}


.button-tabs{
    display: flex;
    align-items: center;
    padding-top: 100px;
    column-gap: 50px;
}

.button-tabs button{
    background: rgb(253, 245, 222);
}

#left-tabs{
    margin-left: 20%;
}

#right-tabs{
    margin-right: 20%;
}

.header-button{
    font-size: medium;
    width: 150px;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(191, 8, 8);
    border: solid rgb(191, 8, 8) 3px;
    height: 50px;   
}


.hometab-top{
    background: url(images/background-template/middle.png);
    background-size: 100% 100%;
    padding-top: 50px 180px 180px 180px;
    background-color: rgba(238, 238, 238, 0.365);
}

.welcome-description{
    color: rgb(191, 8, 8);
    padding: 80px 500px ;
}

#welcome{
    font-size: 35pt;
    margin-left: 30px;
}

#description{
    font-size: 18pt;
    margin-left: 60px;
    margin-right:60px;
}

.hometab h2{
    padding-bottom: 50px;
}

.gallery{
    margin-top: 100px;
    margin-left: 50px;
    font-size: 30pt;
    color: rgb(191, 8, 8);
    text-align: center;
}


.widget{
    display: flex;
    justify-content: center;
    margin: 0, auto;
    margin-top: 65px;
}


.test-carousel{
    background: url(images/background-template/middle.png);
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.slider{
    width: 1500px;
    height: 690px;
    border-radius: 10px;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
    
} 


.slide{
    display: flex;
    column-gap: 10px;
    transition: 2s;
}

.slide img{
    width: 500px;
    height: 400px;
}

.slides input{
    display:none;
}

.slide p{
    text-align: center;
    color: rgb(191, 8, 8);
    font-weight: bold;
}

.navigation-manual{
    position:absolute;
    margin-top: 470px;
    display: flex;
    justify-content: center;
    margin-left: 650px;
}

.manual-btn{
    height: 1em;
    width: 1em;
    border: 2px solid rgb(191, 8, 8);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    
}

.manual-btn:not(:last-child){
    margin-right:40px;
}

.manual-btn:hover{
    background: rgb(191, 8, 8)
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20.3%;
}
#radio3:checked ~ .first{
    margin-left: -40.6%;
}
#radio4:checked ~ .first{
    margin-left: -60.9%;
}
#radio5:checked ~ .first{
    margin-left: -81.3%;
}

.navigation-auto{
    position:absolute;
    display:flex;
    justify-content: center;
    margin-left: 650px;
    margin-top: 470px
}


.navigation-auto div{
    height: 1em;
    width: 1em;
    border: 2px solid rgb(191, 8, 8);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}



#radio1:checked ~ .navigation-auto .auto-btn1{
    background: rgb(191, 8, 8);
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: rgb(191, 8, 8);
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: rgb(191, 8, 8);
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: rgb(191, 8, 8);
}
#radio5:checked ~ .navigation-auto .auto-btn5{
    background: rgb(191, 8, 8);
}


.footer{
    background: url(images/background-template/bottom.png);
    background-size: 100% 100%;
    height: 150px;
    background-repeat: no-repeat;
}